.sidebar {
  width: 20%;
  float: left;
  background-color: orange;
  color: darkred;
  padding: 5px;
  margin: 10px;
}
.float-right {
  float:right;
  border: 5px solid orange;
}
img {
  padding: 50px;
  margin: 50px;
}
